@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 font-family: "Roboto Mono Variable", sans-serif;
}

.contain {
 max-width: 1600px;
 margin-left: auto;
 margin-right: auto;
 padding: 0 15px;
}
