@tailwind base;
@tailwind components;
@tailwind utilities;

body {
 font-family: "Roboto Mono Variable", sans-serif;
}

.contain {
 max-width: 1600px;
 margin-left: auto;
 margin-right: auto;
 padding: 0 20px;
 @media screen and (max-width: 768px) {
  padding: 0 10px;
 }
}

.contain-header {
 max-width: 1600px;
 margin-left: auto;
 margin-right: auto;
 padding: 0 20px;
 @media screen and (max-width: 768px) {
  padding: 0 0;
 }
}

main {
 min-height: 90vh;
}
